In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
import seaborn as sns
tree = DecisionTreeClassifier(random_state=0)
#tree = DecisionTreeClassifier()

In [3]:
testData=pd.read_csv("test.csv")
trainData=pd.read_csv("train.csv")

In [4]:
print(trainData.groupby('Fraude').size())
print(testData.groupby('Fraude').size())

Fraude
0    1997419
1       2581
dtype: int64
Fraude
0    4003
1    3997
dtype: int64

Fonction qui permet d'encoder

In [5]:
def encode_target(df, target_column):
    """Add column to df with integers for the target.

    Args
    ----
    df -- pandas DataFrame.
    target_column -- column to map to int, producing
                     new Target column.

    Returns
    -------
    df_mod -- modified DataFrame.
    targets -- list of target names.
    """
    df_mod = df.copy()
    targets = df_mod[target_column].unique()
    map_to_int = {name: n for n, name in enumerate(targets)}
    df_mod["Operation"] = df_mod[target_column].replace(map_to_int)

    return (df_mod, targets)

In [6]:
y_train=trainData.iloc[:,8].copy() 
x=trainData.iloc[:,:8].copy()

df1, targets = encode_target(x, "Type Operation")
print(targets)

['TRANSFER' 'PAYMENT' 'CASH_IN' 'CASH_OUT' 'DEBIT']

In [7]:
features = ['Montant', 'Montant Cpt Source avt', 'Montant Cpt Source aft', 'Montant Cpt Dest', 'Montant Cpt Dest.1', 'Operation']
print("* features:", features, sep="\n")
X_train = df1[features]

* features:
['Montant', 'Montant Cpt Source avt', 'Montant Cpt Source aft', 'Montant Cpt Dest', 'Montant Cpt Dest.1', 'Operation']

In [8]:

tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [9]:
y_test=testData.iloc[:,8].copy() 
x_test=testData.iloc[:,:8].copy() 

df2, targets = encode_target(x_test, "Type Operation")

X_test = df2[features]

In [10]:

##training_accuracy = clf.score(X, y)
test_accuracy = tree.score(X_test, y_test)
train_accuracy = tree.score(X_train, y_train)
##print("Training accuracy:", training_accuracy)
print("Train accuracy:", train_accuracy)
print("Test accuracy:", test_accuracy)

Train accuracy: 1.0
Test accuracy: 0.659875

In [11]:
trainData.groupby(['Type Operation','Fraude']).size()

Type Operation  Fraude
CASH_IN         0         440136
CASH_OUT        0         710777
                1           1299
DEBIT           0          13253
PAYMENT         0         668732
TRANSFER        0         164521
                1           1282
dtype: int64

In [12]:
testData.groupby(['Type Operation','Fraude']).size()

Type Operation  Fraude
CASH_IN         0          732
CASH_OUT        0         1695
                1         2004
DEBIT           0           26
PAYMENT         0         1238
TRANSFER        0          312
                1         1993
dtype: int64

In [13]:

testDataCor=testData.loc[testData['Type Operation'].isin(['CASH_OUT','TRANSFER'])]
testDataCor

,Type Operation,Montant,Cpt Source,Montant Cpt Source avt,Montant Cpt Source aft,Cpt Dest,Montant Cpt Dest,Montant Cpt Dest.1,Fraude
1,TRANSFER,1158070.88,C278936084,1158070.88,0.00,C1115591594,0.00,0.00,1
2,CASH_OUT,67128.33,C489879149,67128.33,0.00,C813701633,623880.13,691008.45,1
3,CASH_OUT,495002.26,C1881438255,25008.00,0.00,C1258128467,0.00,495002.26,0
4,TRANSFER,615954.92,C114731289,615954.92,0.00,C236726278,0.00,0.00,1
5,CASH_OUT,8994286.69,C180006321,8994286.69,0.00,C1877082345,0.00,8994286.69,1
6,CASH_OUT,623152.72,C2031063966,623152.72,0.00,C1705815867,847223.26,1470375.97,1
9,CASH_OUT,220799.50,C1652855106,0.00,0.00,C1612990285,394666.15,615465.65,0
10,CASH_OUT,146729.67,C661431090,146729.67,0.00,C249687884,0.00,146729.67,1
11,CASH_OUT,277995.36,C994995979,0.00,0.00,C1128494851,3404746.04,3682741.40,0
13,CASH_OUT,183363.36,C1749173056,36.00,0.00,C1534089715,189948.53,373311.89,0
14,CASH_OUT,80011.41,C1974186724,0.00,0.00,C220480254,3787625.78,3867637.20,0
15,CASH_OUT,54235.70,C898552679,54235.70,0.00,C1969225780,0.00,54235.70,1
16,TRANSFER,10000000.00,C1559534298,24339822.23,14339822.23,C1910926478,0.00,0.00,1
17,TRANSFER,2341474.44,C532100013,2341474.44,0.00,C586068817,0.00,0.00,1
18,CASH_OUT,10000000.00,C51318897,10000000.00,0.00,C259016801,0.00,10000000.00,1
19,CASH_OUT,34146.81,C1010935098,30386.73,0.00,C1020697488,14316427.10,14350573.91,0
20,CASH_OUT,1070857.97,C1513064965,1070857.97,0.00,C1686203571,0.00,1070857.97,1
21,CASH_OUT,186723.12,C548707582,880093.07,693369.94,C280358299,241366.76,428089.88,0
22,CASH_OUT,1396824.94,C1626069370,1396824.94,0.00,C724673427,25923.43,1422748.37,1
23,TRANSFER,429863.45,C1474347273,0.00,0.00,C91546760,5014430.58,5444294.03,0
25,CASH_OUT,224248.42,C470538803,0.00,0.00,C1271828486,4130929.45,4355177.87,0
28,TRANSFER,172344.30,C547948167,172344.30,0.00,C765807005,0.00,0.00,1
29,CASH_OUT,69559.23,C1316561777,0.00,0.00,C373787058,1119742.79,1189302.01,0
30,CASH_OUT,182082.51,C663145143,234.00,0.00,C1579669155,0.00,182082.51,0
33,CASH_OUT,1567591.24,C808430979,1567591.24,0.00,C1601875596,822753.07,2390344.31,1
34,CASH_OUT,458845.55,C2065762826,458845.55,0.00,C549201409,388945.59,847791.14,1
35,CASH_OUT,190815.79,C669797835,190815.79,0.00,C1179424644,1686901.31,1877717.10,1
37,CASH_OUT,66066.73,C1566921402,66066.73,0.00,C1640218672,0.00,66066.73,1
38,CASH_OUT,191834.14,C728560783,191834.14,0.00,C662256008,105924.30,297758.43,1
39,CASH_OUT,2135320.18,C439658405,2135320.18,0.00,C1436830952,333330.67,2468650.85,1
...,...,...,...,...,...,...,...,...,...
7959,CASH_OUT,166891.51,C1080371544,166891.51,0.00,C2138077738,0.00,166891.51,1
7962,CASH_OUT,1688761.08,C2095328996,1688761.08,0.00,C1800908612,0.00,1688761.08,1
7963,CASH_OUT,0.00,C69493310,0.00,0.00,C719711728,2921531.34,2921531.34,1
7966,TRANSFER,473387.81,C2062128137,473387.81,0.00,C53265363,0.00,0.00,1
7967,CASH_OUT,169433.39,C806660066,13371.00,0.00,C1887776116,1406267.38,1575700.77,0
7969,CASH_OUT,10000000.00,C430326245,10000000.00,0.00,C264263365,0.00,10000000.00,1
7970,CASH_OUT,221077.97,C1895360219,221077.97,0.00,C1325018812,0.00,221077.97,1
7971,CASH_OUT,100110.51,C185595015,0.00,0.00,C1218590381,181665.76,281776.27,0
7972,CASH_OUT,29611.08,C779716783,29611.08,0.00,C1919160151,723084.29,752695.37,1
7974,CASH_OUT,76786.78,C866399775,10586.00,0.00,C448717385,0.00,76786.78,0
7975,CASH_OUT,437180.80,C1368642383,0.00,0.00,C1621981895,1311062.74,1748243.54,0
7976,CASH_OUT,65839.32,C78949380,0.00,0.00,C1326092597,1496067.99,1561907.31,0
7977,CASH_OUT,10000000.00,C97242201,10000000.00,0.00,C786701128,8496.86,10008496.86,1
7978,TRANSFER,973805.75,C10712954,973805.75,0.00,C354003512,0.00,0.00,1
7979,CASH_OUT,132840.51,C1342291189,0.00,0.00,C958275791,536461.14,669301.64,0
7980,CASH_OUT,1307156.17,C1140455895,1307156.17,0.00,C1640699182,273026.12,1580182.28,1
7981,CASH_OUT,4737833.35,C450630495,4737833.35,0.00,C1565281210,11580904.90,16318738.25,1
7983,TRANSFER,80397.86,C1839358501,80397.86,0.00,C1153377397,0.00,0.00,1
7984,CASH_OUT,51416.07,C1252081364,51416.07,0.00,C327344476,62726.44,114142.52,1
7985,CASH_OUT,111289.98,C513096696,0.00,0.00,C693578659,1935545.57,2046835.55,0
7986,CASH_OUT,259985.22,C847117504,0.00,0.00,C934972212,270674.05,530659.28,0
7987,TRANSFER,1423627.83,C552198318,1423627.83,0.00,C341414106,0.00,0.00,1
7989,CASH_OUT,80437.21,C1386427648,33706.00,0.00,C1842524692,1208515.69,1288952.89,0
7992,CASH_OUT,186734.49,C2015710052,9337.00,0.00,C1448542929,2424870.48,2611604.96,0
7993,TRANSFER,10000000.00,C1198427314,10353874.22,353874.22,C532935388,0.00,0.00,1
7994,CASH_OUT,716273.17,C1917556280,716273.17,0.00,C1744308202,0.00,716273.17,1
7995,TRANSFER,625395.06,C1965889079,304.00,0.00,C1277946259,833998.98,1459394.04,0
7996,TRANSFER,807466.16,C1365547819,807466.16,0.00,C1383531200,0.00,0.00,1
7997,TRANSFER,130777.09,C527353912,130777.09,0.00,C99611102,0.00,0.00,1
7999,CASH_OUT,57758.92,C419169063,0.00,0.00,C704679150,102784.98,160543.91,0

In [14]:
trainDataCor=trainData.loc[trainData['Type Operation'].isin(['CASH_OUT','TRANSFER'])]

In [107]:
y_train=trainDataCor.iloc[:,8].copy() 
x=trainDataCor.iloc[:,:8].copy()

df1, targets = encode_target(x, "Type Operation")
print(targets)

['TRANSFER' 'CASH_OUT']

In [108]:
features = ['Montant', 'Montant Cpt Source avt', 'Montant Cpt Source aft', 'Montant Cpt Dest', 'Montant Cpt Dest.1', 'Operation']
print("* features:", features, sep="\n")
X_train = df1[features]

* features:
['Montant', 'Montant Cpt Source avt', 'Montant Cpt Source aft', 'Montant Cpt Dest', 'Montant Cpt Dest.1', 'Operation']

In [109]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [110]:
y_test=testDataCor.iloc[:,8].copy() 
x_test=testDataCor.iloc[:,:8].copy() 

df2, targets = encode_target(x_test, "Type Operation")

X_test = df2[features]
##training_accuracy = clf.score(X, y)
test_accuracy = tree.score(X_test, y_test)
train_accuracy = tree.score(X_train, y_train)
##print("Training accuracy:", training_accuracy)
print("Train accuracy:", train_accuracy)
print("Test accuracy:", test_accuracy)

Train accuracy: 1.0
Test accuracy: 0.900566289141

In [19]:
trainDataFraud=trainData.loc[trainData['Fraude'].isin([1,2])]

In [105]:
trainDataCor=trainDataCor.append(trainDataFraud,ignore_index='True',verify_integrity='True')

In [111]:
trainDataCor.groupby(['Type Operation','Fraude']).size()

Type Operation  Fraude
CASH_OUT        0         710777
                1          87033
TRANSFER        0         164521
                1          85894
dtype: int64

In [112]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=0)
X_resampled, y_resampled = ros.fit_sample(X, y)
from collections import Counter
print(sorted(Counter(y_resampled).items()))

ImportError: No module named 'imblearn'